PORT=5000
MONGO_URI=mongodb://localhost:27017/satyascan
JWT_SECRET=81b891fd2c0b02f8fa3f91fdcd916d8801d9222f3f9b0ccea72c89673f65ba54
GEMINI_API_KEY=AIzaSyCAN0uL04w-f-h1wIKCOmSVkLWhYZCGyiM
TAVILY_API_KEY=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
FACT_CHECK_API_KEY=AIzaSyDWvTdb3zFQF-xoNO0BKI7m4ZTou1mcKPQ
NODE_ENV=development
